.about_content {
    padding: 30px 50px;
}
.heading {
    text-align: center;
    position: relative;
    width: 400px;
    font-size: 5rem;
    margin: 100px auto;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 0 50px;
    color: rgb(43, 54, 78);
}
.heading::before,
.heading::after {
    position: absolute;
    content: '';
    width: 200px;
    border-top: 3px solid;
    top: 30px;
}
.heading::before {
    left: -150px;
}
.heading::after {
    right: -150px;
}
.profile {
    margin: 50px auto 0;
    background-color: rgb(225, 242, 247);
    padding: 20px 50px;
    width: 1000px;
    display: table;
}
.image_div {
    display: table-cell;
    vertical-align: middle;
}
.image {
    border-radius: 50%;
    overflow: hidden;
}
.description {
    vertical-align: middle;
    display: table-cell;
    font-size: 2rem;
    font-weight: bold;
    padding-left: 100px;
    line-height: 2;
    width: 600px;
    border-left: 2px solid white;
}
.description > h3 {
    color: #555;
    letter-spacing: 2px;
    font-size: 4rem;
    line-height: 1;
    margin: 20px 0 0;
}
.description span {
    color: #aaa;
    font-size: 2rem;
}
.description > ul {
    color: rgb(100, 112, 150);
    list-style: none;
    padding: 0;
}
.description li {
    border-bottom: 1px solid white;
}
.description > p {
    color: #555;
    font-size: 1.6rem;
}
.skills {
    font-style: italic;
    font-size: 4rem;
    text-align: center;
    margin: 70px 0 30px;
    color: rgb(103, 118, 250);
}
.container {
    width: 990px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 330px 330px 330px;
    grid-template-rows: 300px;
}
.item {
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(200, 200, 200, 0.5);
    margin: 30px;
    padding: 20px;
    text-align: center;
    transition: 0.2s;
}
.item:hover {
    transform: scale(1.1);
}
.item > i {
    font-size: 6rem;
    color: rgb(103, 118, 250);
}
.item > h3 {
    font-size: 2rem;
}
.item > p {
    padding-top: 20px;
    font-size: 1.3rem;
}