.heading {
    position: relative;
    width: 400px;
    padding: 0 50px;
    margin: 70px auto;
    letter-spacing: 1px;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    color: rgb(34, 34, 77);
}
.heading::before,
.heading::after {
    position: absolute;
    content: '';
    top: 30px;
    width: 200px;
    border-top: 3px solid;
}
.heading::before {
    left: -150px;
}
.heading::after {
    right: -150px;
}
.contact {
    width: 900px;
    height: 450px;
    margin: 30px auto;
}
.contact > form {
    width: 700px;
    margin: 20px auto;
}
.contact_div label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333;
}
.div_inputs {
    display: flex;
}
.div_inputs input {
    width: 340px;
    padding: 5px;
    font-size: 1.5rem;
}
.name_input {
    flex: 1;
}
.email_input {
    flex: 1;
    margin-left: 20px;
}
.div_textarea {
    margin-top: 30px;
}
.div_textarea textarea {
    width: 700px;
    height: 200px;
    padding: 5px;
    font-size: 1.5rem;
}
.contact_div button {
    display: block;
    margin: 40px auto;
    padding: 10px 60px;
    background: linear-gradient(to right, #5bbee5, #52ddae);
    border-radius: 20px;
    border: 2px solid #ccc;
    font-size: 1.5rem;
    color: #fff;
}
.contact_div button:hover {
    cursor: pointer;
    opacity: 0.8;
}