.nav {
    width: 100%;
    font-size: 3rem;
    background-color: rgb(192, 209, 240);
    text-align: center;
  }
  .nav_div {
    margin: 0 auto;
    width: 100%;
  }
  .nav_li {
    display: inline-block;
    list-style: none;
  }
  .nav_a {
    display: inline-block;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 32px 80px;
    transition: 0.2s;
    color: #fff;
  }
  .nav_a:hover {
    cursor: pointer;
    background-color: rgb(49, 140, 245);
  }